.calendar-wrapper {
    display: flex;
}

.time-label {
    height: 60px;
    font-size: 0.75rem;
    color: black;
    padding-right: 8px;
    padding-left: 15px;
}

.event-column {
    height: 1440px;
    position: relative;
    flex: 1;
}

.time-column {
    width: 80px;
    flex-shrink: 0;
}

.event-block {
    position: absolute;
    left: 4px;
    right: 4px;
    background: #e8f0fe;
    border-left: 3px solid #1a73e8;
    padding: 2px 8px;
    font-size: 0.7rem;
    color: #202124;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}